In [3]:
import pandas as pd

In [4]:
dataset = pd.read_csv('/content/diabetes.csv')

In [5]:
dataset.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [6]:
dataset.shape

(768, 9)

In [7]:
dataset.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [8]:
dataset.Outcome.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [9]:
dataset.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [10]:
x = dataset.drop('Outcome',axis=1)
y = dataset['Outcome']

In [11]:
x.head()

   Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0            6      148             72  ...  33.6                     0.627   50
1            1       85             66  ...  26.6                     0.351   31
2            8      183             64  ...  23.3                     0.672   32
3            1       89             66  ...  28.1                     0.167   21
4            0      137             40  ...  43.1                     2.288   33

[5 rows x 8 columns]

In [12]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [14]:
train_data,test_data,train_label,test_label = train_test_split(x,y,test_size=0.2,stratify=y)

In [15]:
train_data.shape

(614, 8)

In [16]:
test_data.shape

(154, 8)

In [17]:
train_data = preprocessing.normalize(train_data)
test_data = preprocessing.normalize(test_data)

In [18]:
from tensorflow.keras import models
from tensorflow.keras.layers import *

In [19]:
model = models.Sequential()

In [20]:
model.add(Dense(1536, activation='tanh', input_shape=(8,)))
model.add(Dense(16, activation='tanh'))
model.add(Dense(1, activation='sigmoid'))

In [21]:
model.compile(optimizer='rmsprop',
loss='binary_crossentropy',
metrics=['acc'])

In [22]:
model.fit(train_data,train_label, epochs=50)

Epoch 1/50
20/20 [==============================] - 1s 3ms/step - loss: 0.6502 - acc: 0.6254
Epoch 2/50
20/20 [==============================] - 0s 3ms/step - loss: 0.6368 - acc: 0.6433
Epoch 3/50
20/20 [==============================] - 0s 2ms/step - loss: 0.6231 - acc: 0.6498
Epoch 4/50
20/20 [==============================] - 0s 3ms/step - loss: 0.6214 - acc: 0.6450
Epoch 5/50
20/20 [==============================] - 0s 2ms/step - loss: 0.6206 - acc: 0.6661
Epoch 6/50
20/20 [==============================] - 0s 3ms/step - loss: 0.6164 - acc: 0.6612
Epoch 7/50
20/20 [==============================] - 0s 2ms/step - loss: 0.6203 - acc: 0.6580
Epoch 8/50
20/20 [==============================] - 0s 2ms/step - loss: 0.6192 - acc: 0.6531
Epoch 9/50
20/20 [==============================] - 0s 3ms/step - loss: 0.6235 - acc: 0.6531
Epoch 10/50
20/20 [==============================] - 0s 3ms/step - loss: 0.6193 - acc: 0.6661
Epoch 11/50
20/20 [==============================] - 0s 3ms/step - loss: 0.6171 - acc: 0.6482
Epoch 12/50
20/20 [==============================] - 0s 2ms/step - loss: 0.6141 - acc: 0.6482
Epoch 13/50
20/20 [==============================] - 0s 2ms/step - loss: 0.6131 - acc: 0.6547
Epoch 14/50
20/20 [==============================] - 0s 2ms/step - loss: 0.6147 - acc: 0.6661
Epoch 15/50
20/20 [==============================] - 0s 2ms/step - loss: 0.6152 - acc: 0.6661
Epoch 16/50
20/20 [==============================] - 0s 3ms/step - loss: 0.6154 - acc: 0.6564
Epoch 17/50
20/20 [==============================] - 0s 2ms/step - loss: 0.6103 - acc: 0.6466
Epoch 18/50
20/20 [==============================] - 0s 2ms/step - loss: 0.6115 - acc: 0.6710
Epoch 19/50
20/20 [==============================] - 0s 2ms/step - loss: 0.6034 - acc: 0.6678
Epoch 20/50
20/20 [==============================] - 0s 2ms/step - loss: 0.5993 - acc: 0.6596
Epoch 21/50
20/20 [==============================] - 0s 2ms/step - loss: 0.6033 - acc: 0.6661
Epoch 22/50
20/20 [==============================] - 0s 2ms/step - loss: 0.5938 - acc: 0.6678
Epoch 23/50
20/20 [==============================] - 0s 2ms/step - loss: 0.5911 - acc: 0.6857
Epoch 24/50
20/20 [==============================] - 0s 2ms/step - loss: 0.5879 - acc: 0.6922
Epoch 25/50
20/20 [==============================] - 0s 2ms/step - loss: 0.5820 - acc: 0.6906
Epoch 26/50
20/20 [==============================] - 0s 2ms/step - loss: 0.5851 - acc: 0.6808
Epoch 27/50
20/20 [==============================] - 0s 3ms/step - loss: 0.5766 - acc: 0.6824
Epoch 28/50
20/20 [==============================] - 0s 3ms/step - loss: 0.5783 - acc: 0.6873
Epoch 29/50
20/20 [==============================] - 0s 2ms/step - loss: 0.5772 - acc: 0.6808
Epoch 30/50
20/20 [==============================] - 0s 2ms/step - loss: 0.5774 - acc: 0.6857
Epoch 31/50
20/20 [==============================] - 0s 2ms/step - loss: 0.5710 - acc: 0.6873
Epoch 32/50
20/20 [==============================] - 0s 2ms/step - loss: 0.5680 - acc: 0.6906
Epoch 33/50
20/20 [==============================] - 0s 2ms/step - loss: 0.5649 - acc: 0.7117
Epoch 34/50
20/20 [==============================] - 0s 2ms/step - loss: 0.5727 - acc: 0.6792
Epoch 35/50
20/20 [==============================] - 0s 2ms/step - loss: 0.5692 - acc: 0.7085
Epoch 36/50
20/20 [==============================] - 0s 3ms/step - loss: 0.5696 - acc: 0.7068
Epoch 37/50
20/20 [==============================] - 0s 3ms/step - loss: 0.5714 - acc: 0.6906
Epoch 38/50
20/20 [==============================] - 0s 2ms/step - loss: 0.5661 - acc: 0.7182
Epoch 39/50
20/20 [==============================] - 0s 2ms/step - loss: 0.5674 - acc: 0.6938
Epoch 40/50
20/20 [==============================] - 0s 2ms/step - loss: 0.5678 - acc: 0.7182
Epoch 41/50
20/20 [==============================] - 0s 2ms/step - loss: 0.5637 - acc: 0.7052
Epoch 42/50
20/20 [==============================] - 0s 3ms/step - loss: 0.5654 - acc: 0.7036
Epoch 43/50
20/20 [==============================] - 0s 2ms/step - loss: 0.5601 - acc: 0.7052
Epoch 44/50
20/20 [==============================] - 0s 2ms/step - loss: 0.5644 - acc: 0.7052
Epoch 45/50
20/20 [==============================] - 0s 2ms/step - loss: 0.5629 - acc: 0.7036
Epoch 46/50
20/20 [==============================] - 0s 2ms/step - loss: 0.5677 - acc: 0.7085
Epoch 47/50
20/20 [==============================] - 0s 2ms/step - loss: 0.5612 - acc: 0.7231
Epoch 48/50
20/20 [==============================] - 0s 2ms/step - loss: 0.5629 - acc: 0.7117
Epoch 49/50
20/20 [==============================] - 0s 2ms/step - loss: 0.5589 - acc: 0.7166
Epoch 50/50
20/20 [==============================] - 0s 2ms/step - loss: 0.5626 - acc: 0.7134

In [23]:
model.save('Diabetes_Prediction.h5')