In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('/content/weight-height.csv')

In [3]:
dataset

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  object
 1   Height  10000 non-null  float64
 2   Weight  10000 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

In [5]:
dataset.sample(frac=1)

      Gender     Height      Weight
3287    Male  69.237052  197.560031
2721    Male  71.715870  190.994311
8783  Female  62.686276  130.120433
205     Male  63.414587  160.140616
4824    Male  67.668449  193.304069
...      ...        ...         ...
5812  Female  68.167986  164.961352
2956    Male  72.588021  204.343187
1313    Male  67.612220  190.416504
9950  Female  61.110725  123.386296
8909  Female  64.017157  127.939394

[10000 rows x 3 columns]

In [6]:
dummy = pd.get_dummies(dataset)

In [7]:
dummy

         Height      Weight  Gender_Female  Gender_Male
0     73.847017  241.893563              0            1
1     68.781904  162.310473              0            1
2     74.110105  212.740856              0            1
3     71.730978  220.042470              0            1
4     69.881796  206.349801              0            1
...         ...         ...            ...          ...
9995  66.172652  136.777454              1            0
9996  67.067155  170.867906              1            0
9997  63.867992  128.475319              1            0
9998  69.034243  163.852461              1            0
9999  61.944246  113.649103              1            0

[10000 rows x 4 columns]

In [8]:
dataset['Gender'].value_counts()

Male      5000
Female    5000
Name: Gender, dtype: int64

In [9]:
dummy.sample(frac=1)

         Height      Weight  Gender_Female  Gender_Male
3521  66.881314  173.554645              0            1
8584  58.777124  112.561989              1            0
9034  58.345533  110.245575              1            0
390   64.995078  177.727094              0            1
8888  63.199965  147.029164              1            0
...         ...         ...            ...          ...
296   67.549069  183.266533              0            1
9375  60.529168  122.491673              1            0
4766  71.648345  211.240333              0            1
1351  66.928807  169.103562              0            1
4162  69.701668  197.350489              0            1

[10000 rows x 4 columns]

In [10]:
x = dummy.drop('Weight',axis='columns')

In [11]:
y = dummy['Weight']

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x

         Height  Gender_Female  Gender_Male
0     73.847017              0            1
1     68.781904              0            1
2     74.110105              0            1
3     71.730978              0            1
4     69.881796              0            1
...         ...            ...          ...
9995  66.172652              1            0
9996  67.067155              1            0
9997  63.867992              1            0
9998  69.034243              1            0
9999  61.944246              1            0

[10000 rows x 3 columns]

In [14]:
train_data,test_data,train_label,test_label = train_test_split(x,y,test_size=0.2)

In [15]:
from tensorflow.keras import models
from tensorflow.keras.layers import *

In [16]:
model = models.Sequential()

In [17]:
model.add(Dense(128,activation='relu',input_shape=(train_data.shape[1],)))
model.add(Dense(64,activation='relu'))
model.add(Dense(1))

In [18]:
model.compile(optimizer='rmsprop',loss='mae',metrics=['mae'])

In [19]:
model.fit(train_data,train_label,epochs=100)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 31.4284 - mae: 31.4284
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 15.5399 - mae: 15.5399
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 12.2614 - mae: 12.2614
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 11.4071 - mae: 11.4071
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 11.3582 - mae: 11.3582
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 11.3121 - mae: 11.3121
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 11.2086 - mae: 11.2086
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 11.3217 - mae: 11.3217
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 11.2657 - mae: 11.2657
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 11.2000 - mae: 11.2000
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 11.1292 - mae: 11.1292
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 11.1404 - mae: 11.1404
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 11.0812 - mae: 11.0812
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 11.1022 - mae: 11.1022
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 11.1056 - mae: 11.1056
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 11.0551 - mae: 11.0551
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 10.9992 - mae: 10.9992
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 10.9253 - mae: 10.9253
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 10.8970 - mae: 10.8970
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 10.8670 - mae: 10.8670
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 10.8459 - mae: 10.8459
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 10.8648 - mae: 10.8648
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 10.7689 - mae: 10.7689
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 10.7498 - mae: 10.7498
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 10.7284 - mae: 10.7284
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 10.7358 - mae: 10.7358
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 10.7086 - mae: 10.7086
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 10.6140 - mae: 10.6140
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 10.5957 - mae: 10.5957
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 10.5159 - mae: 10.5159
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 10.5021 - mae: 10.5021
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 10.5179 - mae: 10.5179
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 10.4117 - mae: 10.4117
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 10.3271 - mae: 10.3271
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 10.3456 - mae: 10.3456
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 10.2736 - mae: 10.2736
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 10.2692 - mae: 10.2692
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 10.1781 - mae: 10.1781
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 10.0996 - mae: 10.0996
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 9.9947 - mae: 9.9947
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 9.9759 - mae: 9.9759
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 9.9056 - mae: 9.9056
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 9.8173 - mae: 9.8173
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 9.7431 - mae: 9.7431
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 9.6373 - mae: 9.6373
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 9.6032 - mae: 9.6032
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 9.5816 - mae: 9.5816
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 9.5380 - mae: 9.5380
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 9.4573 - mae: 9.4573
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 9.3903 - mae: 9.3903
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 9.3526 - mae: 9.3526
Epoch 52/100
250/250 [==============================] - 1s 3ms/step - loss: 9.3568 - mae: 9.3568
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 9.2825 - mae: 9.2825
Epoch 54/100
250/250 [==============================] - 1s 3ms/step - loss: 9.2156 - mae: 9.2156
Epoch 55/100
250/250 [==============================] - 1s 3ms/step - loss: 9.1991 - mae: 9.1991
Epoch 56/100
250/250 [==============================] - 1s 3ms/step - loss: 9.1170 - mae: 9.1170
Epoch 57/100
250/250 [==============================] - 1s 3ms/step - loss: 9.1021 - mae: 9.1021
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 9.1210 - mae: 9.1210
Epoch 59/100
250/250 [==============================] - 1s 3ms/step - loss: 9.1021 - mae: 9.1021
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 9.0949 - mae: 9.0949
Epoch 61/100
250/250 [==============================] - 1s 2ms/step - loss: 9.1189 - mae: 9.1189
Epoch 62/100
250/250 [==============================] - 1s 3ms/step - loss: 9.0613 - mae: 9.0613
Epoch 63/100
250/250 [==============================] - 1s 3ms/step - loss: 9.0683 - mae: 9.0683
Epoch 64/100
250/250 [==============================] - 1s 3ms/step - loss: 8.9596 - mae: 8.9596
Epoch 65/100
250/250 [==============================] - 1s 3ms/step - loss: 8.9331 - mae: 8.9331
Epoch 66/100
250/250 [==============================] - 1s 3ms/step - loss: 8.9320 - mae: 8.9320
Epoch 67/100
250/250 [==============================] - 1s 3ms/step - loss: 8.9025 - mae: 8.9025
Epoch 68/100
250/250 [==============================] - 1s 3ms/step - loss: 8.8805 - mae: 8.8805
Epoch 69/100
250/250 [==============================] - 1s 3ms/step - loss: 8.9525 - mae: 8.9525
Epoch 70/100
250/250 [==============================] - 1s 3ms/step - loss: 8.9288 - mae: 8.9288
Epoch 71/100
250/250 [==============================] - 1s 3ms/step - loss: 8.8491 - mae: 8.8491
Epoch 72/100
250/250 [==============================] - 1s 3ms/step - loss: 8.9306 - mae: 8.9306
Epoch 73/100
250/250 [==============================] - 1s 3ms/step - loss: 8.8313 - mae: 8.8313
Epoch 74/100
250/250 [==============================] - 1s 3ms/step - loss: 8.9291 - mae: 8.9291
Epoch 75/100
250/250 [==============================] - 1s 3ms/step - loss: 8.8358 - mae: 8.8358
Epoch 76/100
250/250 [==============================] - 1s 3ms/step - loss: 8.8309 - mae: 8.8309
Epoch 77/100
250/250 [==============================] - 1s 3ms/step - loss: 8.8781 - mae: 8.8781
Epoch 78/100
250/250 [==============================] - 1s 3ms/step - loss: 8.8252 - mae: 8.8252
Epoch 79/100
250/250 [==============================] - 1s 3ms/step - loss: 8.8517 - mae: 8.8517
Epoch 80/100
250/250 [==============================] - 1s 3ms/step - loss: 8.8717 - mae: 8.8717
Epoch 81/100
250/250 [==============================] - 1s 3ms/step - loss: 8.8074 - mae: 8.8074
Epoch 82/100
250/250 [==============================] - 1s 3ms/step - loss: 8.7694 - mae: 8.7694
Epoch 83/100
250/250 [==============================] - 1s 3ms/step - loss: 8.8172 - mae: 8.8172
Epoch 84/100
250/250 [==============================] - 1s 3ms/step - loss: 8.8376 - mae: 8.8376
Epoch 85/100
250/250 [==============================] - 1s 3ms/step - loss: 8.8136 - mae: 8.8136
Epoch 86/100
250/250 [==============================] - 1s 3ms/step - loss: 8.8138 - mae: 8.8138
Epoch 87/100
250/250 [==============================] - 1s 3ms/step - loss: 8.8441 - mae: 8.8441
Epoch 88/100
250/250 [==============================] - 1s 3ms/step - loss: 8.8217 - mae: 8.8217
Epoch 89/100
250/250 [==============================] - 1s 3ms/step - loss: 8.7894 - mae: 8.7894
Epoch 90/100
250/250 [==============================] - 1s 3ms/step - loss: 8.7982 - mae: 8.7982
Epoch 91/100
250/250 [==============================] - 1s 3ms/step - loss: 8.7741 - mae: 8.7741
Epoch 92/100
250/250 [==============================] - 1s 3ms/step - loss: 8.7106 - mae: 8.7106
Epoch 93/100
250/250 [==============================] - 1s 3ms/step - loss: 8.7449 - mae: 8.7449
Epoch 94/100
250/250 [==============================] - 1s 3ms/step - loss: 8.7574 - mae: 8.7574
Epoch 95/100
250/250 [==============================] - 1s 2ms/step - loss: 8.8395 - mae: 8.8395
Epoch 96/100
250/250 [==============================] - 1s 3ms/step - loss: 8.7385 - mae: 8.7385
Epoch 97/100
250/250 [==============================] - 1s 3ms/step - loss: 8.7223 - mae: 8.7223
Epoch 98/100
250/250 [==============================] - 1s 3ms/step - loss: 8.7829 - mae: 8.7829
Epoch 99/100
250/250 [==============================] - 1s 3ms/step - loss: 8.7857 - mae: 8.7857
Epoch 100/100
250/250 [==============================] - 1s 3ms/step - loss: 8.7014 - mae: 8.7014

In [20]:
test_pred = model.predict(test_data).flatten()

In [21]:
from sklearn.metrics import mean_squared_error

In [22]:
errors = mean_squared_error(test_label,test_pred)

In [23]:
errors

99.84003648900499

In [24]:
len(test_data)

2000

In [25]:
189/2000*100

9.45

In [27]:
model.save("height_weight_prediction.h5")