In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('iris.csv')

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [4]:
dataset.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
dataset.species.value_counts()

Iris-versicolor    50
Iris-setosa        50
Iris-virginica     50
Name: species, dtype: int64

In [6]:
dic = {'Iris-setosa':1, 'Iris-virginica':2, 'Iris-versicolor':0}

In [7]:
dataset.replace({'species':dic},inplace=True)

In [8]:
dataset.species.value_counts()

0    50
1    50
2    50
Name: species, dtype: int64

In [9]:
x = dataset.drop('species',axis=1)

In [10]:
y = dataset['species']

In [11]:
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [12]:
y

0      1
1      1
2      1
3      1
4      1
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
from sklearn import preprocessing

In [15]:
train_data, test_data, train_label,test_label = train_test_split(x,y,test_size=0.2,stratify=y)

In [16]:
train_data = preprocessing.normalize(train_data)
test_data = preprocessing.normalize(test_data)

In [17]:
from tensorflow.keras import models
from tensorflow.keras.layers import *

In [18]:
model = models.Sequential()
model.add(Dense(2048, activation='relu',input_shape=(train_data.shape[1],)))
model.add(Dense(128, activation='relu'))
model.add(Dense(3,activation='softmax'))

In [19]:
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['acc'])

In [20]:
model.fit(train_data, train_label,epochs=50)

Epoch 1/50
4/4 [==============================] - 0s 5ms/step - loss: 1.0548 - acc: 0.5667
Epoch 2/50
4/4 [==============================] - 0s 7ms/step - loss: 0.9536 - acc: 0.6417
Epoch 3/50
4/4 [==============================] - 0s 6ms/step - loss: 0.8536 - acc: 0.7750
Epoch 4/50
4/4 [==============================] - 0s 7ms/step - loss: 0.7566 - acc: 0.7500
Epoch 5/50
4/4 [==============================] - 0s 6ms/step - loss: 0.6594 - acc: 0.6917
Epoch 6/50
4/4 [==============================] - 0s 6ms/step - loss: 0.5797 - acc: 0.9083
Epoch 7/50
4/4 [==============================] - 0s 6ms/step - loss: 0.5115 - acc: 0.9583
Epoch 8/50
4/4 [==============================] - 0s 7ms/step - loss: 0.4634 - acc: 0.9333
Epoch 9/50
4/4 [==============================] - 0s 10ms/step - loss: 0.4305 - acc: 0.9417
Epoch 10/50
4/4 [==============================] - 0s 6ms/step - loss: 0.4074 - acc: 0.8583
Epoch 11/50
4/4 [==============================] - 0s 6ms/step - loss: 0.3733 - acc: 0.9333
Epoch 12/50
4/4 [==============================] - 0s 7ms/step - loss: 0.3609 - acc: 0.9250
Epoch 13/50
4/4 [==============================] - 0s 7ms/step - loss: 0.3344 - acc: 0.9583
Epoch 14/50
4/4 [==============================] - 0s 9ms/step - loss: 0.3152 - acc: 0.9500
Epoch 15/50
4/4 [==============================] - 0s 7ms/step - loss: 0.2933 - acc: 0.9667
Epoch 16/50
4/4 [==============================] - 0s 6ms/step - loss: 0.2770 - acc: 0.9333
Epoch 17/50
4/4 [==============================] - 0s 7ms/step - loss: 0.2774 - acc: 0.9250
Epoch 18/50
4/4 [==============================] - 0s 7ms/step - loss: 0.2503 - acc: 0.9417
Epoch 19/50
4/4 [==============================] - 0s 8ms/step - loss: 0.2308 - acc: 0.9500
Epoch 20/50
4/4 [==============================] - 0s 7ms/step - loss: 0.2186 - acc: 0.9583
Epoch 21/50
4/4 [==============================] - 0s 7ms/step - loss: 0.2092 - acc: 0.9417
Epoch 22/50
4/4 [==============================] - 0s 7ms/step - loss: 0.1883 - acc: 0.9833
Epoch 23/50
4/4 [==============================] - 0s 6ms/step - loss: 0.1799 - acc: 0.9750
Epoch 24/50
4/4 [==============================] - 0s 7ms/step - loss: 0.1771 - acc: 0.9583
Epoch 25/50
4/4 [==============================] - 0s 7ms/step - loss: 0.1800 - acc: 0.9583
Epoch 26/50
4/4 [==============================] - 0s 6ms/step - loss: 0.1858 - acc: 0.9417
Epoch 27/50
4/4 [==============================] - 0s 6ms/step - loss: 0.1667 - acc: 0.9417
Epoch 28/50
4/4 [==============================] - 0s 6ms/step - loss: 0.1561 - acc: 0.9500
Epoch 29/50
4/4 [==============================] - 0s 7ms/step - loss: 0.1398 - acc: 0.9583
Epoch 30/50
4/4 [==============================] - 0s 7ms/step - loss: 0.1603 - acc: 0.9417
Epoch 31/50
4/4 [==============================] - 0s 6ms/step - loss: 0.1502 - acc: 0.9417
Epoch 32/50
4/4 [==============================] - 0s 7ms/step - loss: 0.1259 - acc: 0.9583
Epoch 33/50
4/4 [==============================] - 0s 6ms/step - loss: 0.1377 - acc: 0.9500
Epoch 34/50
4/4 [==============================] - 0s 6ms/step - loss: 0.1545 - acc: 0.9417
Epoch 35/50
4/4 [==============================] - 0s 7ms/step - loss: 0.1272 - acc: 0.9667
Epoch 36/50
4/4 [==============================] - 0s 6ms/step - loss: 0.1253 - acc: 0.9667
Epoch 37/50
4/4 [==============================] - 0s 7ms/step - loss: 0.1353 - acc: 0.9333
Epoch 38/50
4/4 [==============================] - 0s 6ms/step - loss: 0.1399 - acc: 0.9500
Epoch 39/50
4/4 [==============================] - 0s 8ms/step - loss: 0.1298 - acc: 0.9583
Epoch 40/50
4/4 [==============================] - 0s 6ms/step - loss: 0.1416 - acc: 0.9500
Epoch 41/50
4/4 [==============================] - 0s 7ms/step - loss: 0.1343 - acc: 0.9500
Epoch 42/50
4/4 [==============================] - 0s 6ms/step - loss: 0.1110 - acc: 0.9667
Epoch 43/50
4/4 [==============================] - 0s 7ms/step - loss: 0.1047 - acc: 0.9750
Epoch 44/50
4/4 [==============================] - 0s 6ms/step - loss: 0.1285 - acc: 0.9583
Epoch 45/50
4/4 [==============================] - 0s 6ms/step - loss: 0.1172 - acc: 0.9583
Epoch 46/50
4/4 [==============================] - 0s 6ms/step - loss: 0.1289 - acc: 0.9417
Epoch 47/50
4/4 [==============================] - 0s 7ms/step - loss: 0.1111 - acc: 0.9583
Epoch 48/50
4/4 [==============================] - 0s 6ms/step - loss: 0.1035 - acc: 0.9583
Epoch 49/50
4/4 [==============================] - 0s 6ms/step - loss: 0.0997 - acc: 0.9583
Epoch 50/50
4/4 [==============================] - 0s 7ms/step - loss: 0.1011 - acc: 0.9667

In [21]:
model.evaluate(test_data,test_label)

1/1 [==============================] - 1s 747ms/step - loss: 0.0830 - acc: 0.9667

[0.08303438127040863, 0.9666666388511658]